
@{
    ViewData["Title"] = "MyDatabase";
}

<h1>Database</h1>

<textarea class="schema-text" rows="14" cols="150"></textarea>
<button type="button" class="save-schema">Save</button>

@section Scripts {
    <script src="~/js/database.js" asp-append-version="true"></script>
}