@model MasterRad.Models.ViewModels.TemplateSqlScriptVM
@{
    ViewData["Title"] = "ModifyData";
}

<h1>Create a model for "@(Model.TemplateName)"</h1>

<div hidden>
    <input type="text" value="@(Model.Id)" id="template-id">
    <input type="text" value="@(Model.TimeStamp)" id="template-timestamp">
</div>
<input type="text" id="db-name" placeholder="Database name">
<textarea id="sql-script" rows="14" cols="150" placeholder="Enter SQL script to create a model">@(Model.SqlScript)</textarea>
<button type="button" class="save-schema">Create</button>

@section Scripts {
    <script src="~/js/database.js" asp-append-version="true"></script>
}