@model MasterRad.Models.ViewModels.TemplateModelVM
@{
    ViewData["Title"] = "ModifyData";
}

<h1>Create a model for "@(Model.TemplateName)"</h1>
<link href="~/css/jquery.json-viewer.css" rel="stylesheet">

<div hidden>
    <input type="text" value="@(Model.Id)" id="template-id">
    <input type="text" value="@(Model.TimeStamp)" id="template-timestamp">
    <input type="text" value="@(Model.DatabaseName)" id="db-name">
</div>

<partial name="../Partials/SqlEditor.cshtml" />

<br /><br />

<partial name="../Partials/TablesDropdown.cshtml" />

<pre id="json-display"></pre>

@section Styles {
    <link rel="stylesheet" href="~/css/CodeMirror/codemirror-custom.css">
    <link rel="stylesheet" href="~/css/CodeMirror/codemirror.css">
    <link rel="stylesheet" href="~/css/CodeMirror/show-hint.css" />
}

@section Scripts {
    <script src="~/js/jquery.json-viewer.js"></script>
    <script src="~/js/model.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>

    <script src="~/js/sqlEditor.js" asp-append-version="true"></script>
    <script src="~/js/sqlEditor.js" asp-append-version="true"></script>
    <script src="~/js/CodeMirror/codemirror.js" asp-append-version="false"></script>
    <script src="~/js/CodeMirror/sql.js" asp-append-version="false"></script>
    <script src="~/js/CodeMirror/show-hint.js" asp-append-version="false"></script>
    <script src="~/js/CodeMirror/sql-hint.js" asp-append-version="false"></script>
    <script src="~/js/CodeMirror/placeholder.js" asp-append-version="false"></script>

    <script src="~/js/tablesDropdown.js" asp-append-version="true"></script>
}