
@{
    ViewData["Title"] = "ModifyData";
}

<h1>ModifyData</h1>

<label for="sel1">Choose a table from the list:</label>
<select class="form-control" id="tableSelector"></select>

<br /><br />

<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead class="thead-dark" id="table-header">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">First</th>
                <th scope="col">First</th>
                <th scope="col">First</th>
                <th scope="col">First</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr>
                <th scope="row"><input type="text" value="1"></th>
                <td><input type="text" value="Jacobmdpaisdansdoiasdniiansdnoanodinaondsaosdnaodniansodoaidn"></td>
                <td><input type="text" value="Jacob"></td>
                <td><input type="text" value="Jacob"></td>
                <td><input type="text" value="Jacob"></td>
                <td><input type="text" value="Jacob"></td>
            </tr>
            <tr>
                <th scope="row"><input type="text" value="1"></th>
                <td><input type="text" value="Jacob"></td>
                <td><input type="text" value="Jacob"></td>
                <td><input type="text" value="Jacob"></td>
                <td><input type="text" value="Jacob"></td>
                <td><input type="text" value="Jacob"></td>
            </tr>
            <tr>
                <th scope="row"><input type="text" value="1"></th>
                <td><input type="text" value="Jacob"></td>
                <td><input type="text" value="Jacob"></td>
                <td><input type="text" value="Jacob"></td>
                <td><input type="text" value="Jacob"></td>
                <td><input type="text" value="Jacob"></td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/modifyData.js" asp-append-version="true"></script>
}
