
@{
    ViewData["Title"] = "ModifyData";
}

<h1>ModifyData</h1>

<label for="sel1">Choose a table from the list:</label>
<select class="form-control" id="tableSelector"></select>

<br /><br />

<div class="table-responsive">
    <table class="table table-sm">
        <thead class="thead-dark" id="table-header">
            <tr>
                <th scope="col">asd</th>
                <th scope="col">Firstasdadsadsaasdadsadsa</th>
                <th scope="col">Firstasdadsadsa</th>
                <th scope="col">Firstasdadsadsa</th>
                <th scope="col">Firstasdadsadsa</th>
                <th scope="col">Firstasdadsadsa</th>
                <th scope="col">Firstasdadsadsa</th>
                <th scope="col">Firstasdadsadsa</th>
                <th scope="col">Firstasdadsadsa</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr>
                <td>
                    <button type="button" class="btn btn-danger btn-sm">-</button>
                </td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-danger btn-sm">-</button>
                </td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-danger btn-sm">-</button>
                </td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
                <td><input class="form-control form-control-sm" type="text" value="Jacob"></td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-info btn-sm">+</button>
                </td>
                <td><input class="form-control form-control-sm" type="text" value=""></td>
                <td><input class="form-control form-control-sm" type="text" value=""></td>
                <td><input class="form-control form-control-sm" type="text" value=""></td>
                <td><input class="form-control form-control-sm" type="text" value=""></td>
                <td><input class="form-control form-control-sm" type="text" value=""></td>
                <td><input class="form-control form-control-sm" type="text" value=""></td>
                <td><input class="form-control form-control-sm" type="text" value=""></td>
                <td><input class="form-control form-control-sm" type="text" value=""></td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/modifyData.js" asp-append-version="true"></script>
}
