
@{
    ViewData["Title"] = "Tasks";
}

<h1>Tasks</h1>

<!-- Templates table -->
<br />
<table class="table table-bordered table-striped">
    <thead class="thead-dark" id="table-header">
        <tr id="database-table">
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Template</th>
            <th scope="col">Data</th>
            <th scope="col">Solution</th>
            <th><button data-toggle="modal" data-target="#create-task-modal" style="float:right" type="button" class="btn btn-primary btn-sm">Create</button></th>
        </tr>
    </thead>
    <tbody id="tasks-tbody" />
</table>

<!-- New task modal  -->
<div class="modal fade" id="create-task-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new task</h5>
            </div>
            <div class="modal-body" style="max-height: calc(100vh - 210px);overflow-y: auto;">
                <div class="form-group" style="margin: auto; max-width: 300px;">
                    <div class="row">
                        <div class="col-12">
                            <label for="template-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="task-name">
                            <br />
                            <label for="templates-list" class="col-form-label">Template:</label>
                            <div class="list-group" id="templates-list" role="tablist"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createTask()">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Change template modal-->
<div class="modal fade" id="change-template-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change template</h5>
            </div>
            <div class="modal-body" style="max-height: calc(100vh - 210px);overflow-y: auto;">
                <div class="form-group" style="margin: auto; max-width: 300px;">
                    <div class="row">
                        <div class="col-12">
                            <input type="number" id="task-id" hidden>
                            <input type="text" id="task-timestamp" hidden>
                            <label for="templates-list" class="col-form-label">Template:</label>
                            <div class="list-group" id="templates-list" role="tablist"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateTemplate()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Name modal  -->
<div class="modal fade" id="update-name-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Name</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="template-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="template-name">
                    <input type="text" class="form-control" id="template-id" hidden>
                    <input type="text" class="form-control" id="template-timestamp" hidden>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateName()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Description modal  -->
<div class="modal fade" id="update-description-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Description</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="template-description" class="col-form-label">Description:</label>
                    <textarea class="form-control" id="template-description" rows="10"></textarea>
                    <input type="text" class="form-control" id="template-id" hidden>
                    <input type="text" class="form-control" id="template-timestamp" hidden>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateDescription()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Form -->
<form action="" hidden id="hidden-form" method="post">
    <input type="number" name="taskId" id="task-id">
    <input type="submit" value="Submit" id="submit-btn">
</form>

@section Scripts {
    <script src="~/js/tasks.js" asp-append-version="true"></script>
}
