
@{
    ViewData["Title"] = "Templates";
}

<h1>Templates</h1>

<table class="table table-bordered table-striped">
    <thead class="thead-dark" id="table-header">
        <tr id="database-table">
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Sql Script</th>
            <th scope="col">Base data</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="templates-tbody" />
</table>
<button onclick="createTemplate()" type="button" class="btn btn-outline-primary btn-sm">Create</button>


@section Scripts {
    <script src="~/js/templates.js" asp-append-version="true"></script>
}
