
@{
    Layout = null;
}

@model DiplomskiRad_ds130211d.Models.StudentIzborBazeView
@using DiplomskiRad_ds130211d.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vežbaj SQL</title>

    <!--LoadScreen-->
    <link href="~/Content/loadScreen.css" rel="stylesheet" />

    <!--CodeMirror-->
    <link href="~/Content/CodeMirror/codemirror.css" rel="stylesheet" />

    <!-- Bootstrap core CSS-->
    <link href="~/Content/Theme/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/Content/Theme/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Page level plugin CSS-->
    <link href="~/Content/Theme/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/Theme/sb-admin.css" rel="stylesheet" />
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <h2 class="navbar-brand" style="color:white">Vežbaj SQL</h2>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <!--Top menu-->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <p class="nav-link" data-target="#exampleModal">
                        @Model.ImePrezime
                    </p>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        Odjavi se
                    </a>
                </li>

            </ul>
        </div>
    </nav>

    <!--Content-->
    <div class="content-wrapper">
        <div class="container-fluid">
            <br /><br />
            <h3> Izaberite bazu : </h3>
            <br />

        </div>
        
        <!--Databases accordion-->
        <div id="accordion" role="tablist">
            @foreach (BazaModel bm in Model.Baze)
            {
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            @bm.NazivBaze
                        </a>
                    </h5>
                </div>
                <br />
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        @using (Html.BeginForm("OtvoriBazu", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" value="@bm.NazivBaze" name="imeIzabraneBaze" />
                            <input type="submit" value="Povezi se" />
                        }
                    </div>
                    <div class="card-body">
                        @bm.OpisBaze
                    </div>
                    <div class="card-body">
                        @*<img src="../../App_Data/@bm.NazivFajlaSlike" />*@
                        @*<img src="http://desiznworld.com/wp-content/uploads/2015/06/A4-Landscape-Brochure-Look-Book-InDesign-Template.jpg" />*@
                        <img src="../../Content/@bm.NazivFajlaSlike" />
                    </div>
                </div>
            </div>
            }
        </div>


        <!-- Copyright footer -->
        <footer class="sticky-footer" style="position: fixed; bottom: 0;">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Univerzitet u Beogradu, Elektrotehnički fakultet  2017</small>
                </div>
            </div>
        </footer>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top" style="min-width:7%;text-decoration:none;">
            Nazad na vrh
        </a>

        <!-- Popup for logout-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Želite da se odjavite?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Odaberite "Otkaži" ako želite da nastavite sa radom.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Otkaži</button>
                        <a class="btn btn-primary" href="/Home/SignOut">Odjavi se</a>
                    </div>
                </div>
            </div>
        </div>


        <!--Load screen -->
        <div id="loadScreenID" class="loadScreen"></div>

        <script src="~/Scripts/jquery-3.2.1.js"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="~/Scripts/Theme/jquery.min.js"></script>
        <script src="~/Scripts/Theme/popper.min.js"></script>
        <script src="~/Scripts/Theme/bootstrap.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Scripts/Theme/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/Scripts/Theme/Chart.min.js"></script>
        <script src="~/Scripts/Theme/jquery.dataTables.js"></script>
        <script src="~/Scripts/Theme/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Scripts/Theme/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/Scripts/Theme/sb-admin-datatables.min.js"></script>
        <script src="~/Scripts/Theme/sb-admin-charts.min.js"></script>
    </div>
</body>
</html>
