
@{
    Layout = null;
}

@model  DiplomskiRad_ds130211d.Models.StudentBazaViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vežbaj SQL</title>

    <!--Code Mirror SQL Editor-->
    <link rel=stylesheet href="~/Content/CodeMirror/docs.css">
    <link rel="stylesheet" href="~/Content/CodeMirror/codemirror.css" />
    <script src="~/Scripts/CodeMirror/codemirror.js"></script>
    <script src="~/Scripts/CodeMirror/sql.js"></script>
    <link rel="stylesheet" href="~/Content/CodeMirror/show-hint.css" />
    <script src="~/Scripts/CodeMirror/show-hint.js"></script>
    <script src="~/Scripts/CodeMirror/sql-hint.js"></script>

    <!--LoadScreen-->
    <link href="~/Content/loadScreen.css" rel="stylesheet" />

    <!--CodeMirror-->
    <link href="~/Content/CodeMirror/codemirror.css" rel="stylesheet" />

    <!-- Bootstrap core CSS-->
    <link href="~/Content/Theme/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/Content/Theme/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Page level plugin CSS-->
    <link href="~/Content/Theme/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/Theme/sb-admin.css" rel="stylesheet" />
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top" onbeforeunload="unload()">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" style="color:white">Vežbaj SQL</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive1">

            <!--Left side menu-->
            <ul class="navbar-nav navbar-sidenav collapsed"  id="exampleAccordion">
                @*<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                        <a class="nav-link" href="tables.html">
                            <i class="fa fa-fw fa-table"></i>
                            <span class="nav-link-text">Tables</span>
                        </a>
                    </li>*@

                <!--Tabele-->
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link " data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                        <span class="nav-link-text">Tabele &darr; </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        @foreach (string imeTabele in Model.ImenaTabela)
                        {
                        <li>
                            <a onclick="setQueryValue('@imeTabele')">@imeTabele</a>
                        </li>
                        }

                    </ul>
                </li>

                <!--Nazad-->
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                    <a class="nav-link" href="/Student/ShowHome">
                        <span class="nav-link-text">Nazad</span>
                    </a>
                </li>
            </ul>

            <!--??-->
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <>
                    </a>
                </li>
            </ul>


            <!--Top menu-->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <p class="nav-link" data-target="#exampleModal">
                        @Model.ImePrezime
                    </p>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        Odjavi se
                    </a>
                </li>

            </ul>
        </div>
    </nav>

    <!--Content-->
    <div class="content-wrapper" style="padding-left:15px">
        <div class="container-fluid">
            <br />
            <h4>@Model.ImeBaze</h4>
            <br />
            <!--UI za izvrsavanje upita-->
            <div class="form-group">
                <div>
                    <h6 for="SQLUpitID">&nbsp;&nbsp; MSSQL upit :</h6>
                    <div style="border:2px solid lightgrey">
                        <textarea id="code" name="code"></textarea>
                    </div>

                    <script>
                        window.onload = function () {

                            window.editor = CodeMirror.fromTextArea(document.getElementById('code'), {
                                mode: 'text/x-mssql',
                                indentWithTabs: true,
                                smartIndent: true,
                                lineNumbers: true,
                                matchBrackets: true,
                                autofocus: true,
                                extraKeys: { "Ctrl-Space": "autocomplete" }
                                //hintOptions: {
                                //    tables: {
                                //        users: { name: null, score: null, birthDate: null },
                                //        countries: { name: null, population: null, size: null }
                                //    }
                                //}
                            });
                        };
                    </script>
                </div>
                <br />
                <button class="btn btn-lg btn-primary " onclick="executeSQL()">Izvrsi</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-lg btn-danger" onclick="clearSQL()">Obrisi</button>
                <br /> <br />
                <div>
                    <h6 for="ServerOutputID">&nbsp;&nbsp;Odgovor servera:</h6>
                    <textarea id="ServerOutputID" class="form-control" rows="3" style="resize: none; min-width:60%"></textarea>
                </div>
            </div>


            <div class="card mb-3">
                <div class="card-header">
                    <h6>Rezultat upita :</h6>
                </div>
                <div class="card-body" id="RunTimeTable">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableRuntime" width="100%" cellspacing="0">
                            <thead>
                                <tr id="qryResTblHeadRowId"> <!--AJAX Content--> </tr>
                            </thead>
                            <tbody id="qryResTblBodyId">
                                <!--AJAX Content-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted"></div>
            </div>

        </div>

        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <!-- Copyright footer -->
        <footer class="sticky-footer" style="position: fixed; bottom: 0;">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Univerzitet u Beogradu, Elektrotehnički fakultet  2017</small>
                </div>
            </div>
        </footer>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top" style="min-width:7%;text-decoration:none;">
            Nazad na vrh
        </a>
        <!-- Popup for logout-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Želite da se odjavite?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Odaberite "Otkaži" ako želite da nastavite sa radom.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Otkaži</button>
                        <a class="btn btn-primary" href="/Home/SignOut">Odjavi se</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/Scripts/jquery-3.2.1.js"></script>
        <script src="~/Scripts/browserClose.js"></script>
        <script src="~/Scripts/studentBaza.js"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="~/Scripts/Theme/jquery.min.js"></script>
        <script src="~/Scripts/Theme/popper.min.js"></script>
        <script src="~/Scripts/Theme/bootstrap.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Scripts/Theme/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/Scripts/Theme/Chart.min.js"></script>
        <script src="~/Scripts/Theme/jquery.dataTables.js"></script>
        <script src="~/Scripts/Theme/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Scripts/Theme/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/Scripts/Theme/sb-admin-datatables.min.js"></script>
        <script src="~/Scripts/Theme/sb-admin-charts.min.js"></script>
    </div>

    <!--Load screen -->
    <div id="loadScreenID" class="loadScreen"></div>
</body>
</html>
