body > .grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}

.logo {
    height: 45px;
}

.logoHolder {
    position: relative;
    text-align: right;
}

.logoHolderRight {
    text-align: right;
}

.logoHolderLeft {
    text-align: left;
}

.login-form-grid {
    margin-top: 100px !important;
}
