
@{
    ViewData["Title"] = "Tests";
}

<h1>Tests</h1>

<div id="tests-list"></div>


@*@for (int i = 0; i < 15; i++)
{
    <br />
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
}*@

<!-- Form -->
<form action="" hidden id="hidden-form" method="post">
    <input type="number" name="taskId" id="task-id">
    <input type="submit" value="Submit" id="submit-btn">
</form>

@section Scripts {
    <script src="~/js/tests.js" asp-append-version="true"></script>
}
