
@{
    ViewData["Title"] = "Tests";
}

<h1>Tests</h1>

<div id="tests-list">
   
</div>

<!-- Form -->
<form action="" hidden id="hidden-form" method="post">
    <input type="number" name="testId" id="test-id">
    <input type="text" name="timeStamp" id="test-student-timestamp">
</form>

@section Scripts {
    <script src="~/js/util.js"></script>
    <script src="~/js/enums.js" asp-append-version="true"></script>
    <script src="~/js/evaluationProgressUI.js"></script>
    <script src="~/js/studentTests.js" asp-append-version="true"></script>
}
