
@{
    ViewData["Title"] = "Tests";
}

@section Styles {
    <link rel="stylesheet" href="~/css/datatable.css" />
    <link rel="stylesheet" href="~/css/tabs.css" />
}

<h1>Tests</h1>
<br />

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="scheduled-tab" data-toggle="tab" href="#scheduled" role="tab" aria-controls="scheduled" aria-selected="false">Scheduled</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="inprogress-tab" data-toggle="tab" href="#inprogress" role="tab" aria-controls="inprogress" aria-selected="true">In progress</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="completed-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="completed" aria-selected="false">Completed</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show" id="scheduled" role="tabpanel" aria-labelledby="scheduled-tab">
        <div class="row" style="padding:20px;" id="scheduled-tests-list"></div>
    </div>
    <div class="tab-pane fade show active" id="inprogress" role="tabpanel" aria-labelledby="inprogress-tab">
        <div class="row" style="padding:20px;" id="inprogress-tests-list"></div>
    </div>
    <div class="tab-pane fade show" id="completed" role="tabpanel" aria-labelledby="completed-tab">
        <div class="row" style="padding:20px;" id="completed-tests-list"></div>
    </div>
</div>

<!-- Form -->
<form action="" hidden id="hidden-form" method="post">
    <input type="number" name="testId" id="test-id">
    <input type="text" name="timeStamp" id="test-student-timestamp">
</form>

@section Scripts {
    <script src="~/js/util.js"></script>
    <script src="~/js/enums.js" asp-append-version="true"></script>
    <script src="~/js/evaluationProgressUI.js"></script>
    <script src="~/js/studentTests.js" asp-append-version="true"></script>
}
