a.page-link {
    border-color: #ced4da;
    color: #495057;
    margin-right:4px;
}
    a.page-link.current {
        border-color: #007bff;
        color: #007bff;
    }

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
