@model MasterRad.Models.ViewModels.ModifyDataVM
@{
    ViewData["Title"] = "Modify Data";
}

<h1>@(Model.DatabaseName)</h1>
<input type="text" value="@(Model.NameOnServer)" id="name-on-server" hidden>


<partial name="../Partials/ModifyDataPartial.cshtml"/>

@section Scripts {
    <script src="~/js/modifyData.js" asp-append-version="true"></script>
    <script src="~/js/modifyDataPartial.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>

    <script src="~/js/tablesDropdown.js" asp-append-version="true"></script>
}
