@model MasterRad.Models.ViewModels.ModifyDatabaseVM
@{
    ViewData["Title"] = "Modify Data";
    var dbModel = "db";
}

<h1>@(Model.DatabaseName)</h1>
<input hidden value="@dbModel" class="uid uid-db" data-name-on-server="@(Model.NameOnServer)" type="text">


<partial name="../Partials/ModifyDatabasePartial.cshtml" model="@("db")"/>

@section Scripts {
    <script src="~/js/modifyDatabase.js" asp-append-version="true"></script>
    <script src="~/js/modifyDatabasePartial.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>

    <script src="~/js/tablesDropdown.js" asp-append-version="true"></script>
}
