@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/><br />
    <h1 class="display-4">Welcome</h1>
</div>

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}