@model string

@{ 
    var tableSelectorId = $"table-selector-{Model}";
}

<br />
<label for="@tableSelectorId">Choose a table from the list:</label>
<select class="form-control" id="@tableSelectorId" data-uid="@Model"></select>

<br />
<br />

<partial name="./ModifyTablePartial.cshtml" />