@model string

<div class="table-responsive">
    <table class="table table-sm table-bordered" data-uid="@Model">
        <thead class="thead-dark" id="@($"table-header-{Model}")" />
        <tbody id="@($"table-body-{Model}")" />
    </table>
</div>
