<table class="table table-sm">
    <tr>
        <th style="border:none; float:right; font-weight:400;">
            <nav>
                <ul class="pagination"></ul>
            </nav>
        </th>
    </tr>
</table>