<div id="signalR-message-reconnecting" class="alert alert-warning" role="alert" hidden>
    <div class="spinner-grow spinner-grow-sm" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    Live updates unavailable - attempting to reconnect...
</div>
<div id="signalR-message-reconnected" class="alert alert-success" role="alert" hidden>
    Live updates back online.
</div>
<div id="signalR-message-disconnected" class="alert alert-danger" role="alert" hidden>
    Live updates unavailable - reload the page to see the latest results.
</div>