<select class="form-control filter-dropdown" id="table-selector-modify-database" data-uid="modify-database" data-table-key="test_status">
    <option value="0">All</option>
    <option value="1">Scheduled</option>
    <option value="2">In Progress</option>
    <option value="3">Completed</option>
</select>