
@{
    ViewData["Title"] = "Synthesis Tests";
}

<h1>Synthesis Tests</h1>

<div id="tests-list"></div>


<!-- Form -->
<form action="" hidden id="hidden-form" method="post">
    <input type="number" name="taskId" id="task-id">
    <input type="submit" value="Submit" id="submit-btn">
</form>

@section Scripts {
    @*<script src="~/js/teacherTests.js" asp-append-version="true"></script>*@
    <script src="~/js/enums.js" asp-append-version="true"></script>
}
