
@{
    ViewData["Title"] = "Templates";
}

@section Styles {
    <link rel="stylesheet" href="~/css/datatable.css" />
}
<h1>Templates</h1>

<!-- Templates table -->
<br />
<table class="table table-bordered table-striped fixed wrap-single-long-word">
    <thead class="thead-dark" id="table-header">
        <tr id="database-table">
            <th style="width: 16%">Name</th>
            <th style="width: 4%">Description</th>
            <th style="width: 3%">Model</th>
            <th style="width: 3%">Data</th>
            <th style="width: 13%">Author</th>
            <th style="width: 3%">Created on</th>
            <th style="width: 3%">
                <button data-toggle="modal" data-target="#create-template-modal" type="button" class="btn btn-primary btn-sm">Create</button>
            </th>
        </tr>
    </thead>
    <tbody id="templates-tbody" />
</table>

<!-- New template modal  -->
<div class="modal fade" id="create-template-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new template</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="template-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="template-name" maxlength="50">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createTemplate()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Name modal  -->
<div class="modal fade" id="update-name-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Name</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="template-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="template-name" maxlength="50">
                    <input type="text" class="form-control" id="template-id" hidden>
                    <input type="text" class="form-control" id="template-timestamp" hidden>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateName()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Description modal  -->
<div class="modal fade" id="update-description-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Description</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="template-description" class="col-form-label">Description:</label>
                    <textarea class="form-control" id="template-description" rows="10"></textarea>
                    <input type="text" class="form-control" id="template-id" hidden>
                    <input type="text" class="form-control" id="template-timestamp" hidden>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateDescription()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Form -->
<form action="" hidden id="hidden-form" method="post">
    <input type="number" name="templateId" id="template-id">
    <input type="submit" value="Submit" id="submit-btn">
</form>

@section Scripts {
    <script src="~/js/templates.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>
}
