@model MasterRad.Models.ViewModels.AssignStudentsVM
@{
    ViewData["Title"] = "Students";
}

@section Styles {
    <link rel="stylesheet" href="~/css/datatable.css" />
    <link rel="stylesheet" href="~/css/pagination.css" />
}

<h1>Assign students</h1>
<div hidden>
    <input type="text" value="@(Model.TestId)" id="test-id">
    <input type="text" value="@((int)Model.TestType)" id="test-type">
</div>

<br />

<div>
    <a href="https://docs.microsoft.com/en-us/azure/active-directory/" target="_blank">
        <img src="~/images/azure-logo.png" style="height:20px; float:left;" data-toggle="tooltip" data-placement="top" title="Azure Active Directory" />
    </a>
    <h5 style="float:left; margin-left:5px;">Find students on Azure</h5>
</div>

<!--Search filters-->
<table class="table table-sm">
    <thead>
        <tr>
            <th style="width: 30%; border:none;">
                <input type="text" class="form-control" placeholder="First name (starts with)" id="search-first-name" maxlength="50">
            </th>
            <th style="width: 30%; border:none;">
                <input type="text" class="form-control" placeholder="Last name (starts with)" id="search-last-name" maxlength="50">
            </th>
            <th style="width: 30%; border:none;">
                <input type="text" class="form-control" placeholder="Email (starts with)" id="search-email" maxlength="50">
            </th>
            <th style="border: none;">
                <input type="number" id="page-size" class="form-control" min="5" max="25" step="5" value="@Model.InitialPageSize" style="width:65px; float:left" data-toggle="tooltip" data-placement="top" title="Items per page">
                <button onclick="searchStudents()" type="button" class="btn btn-outline-primary" style="float:right">
                    Search
                </button>
            </th>
        </tr>
    </thead>
</table>

<!--Search result-->
<table class="table table-sm table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th style="width: 30%">First name</th>
            <th style="width: 30%">Last name</th>
            <th style="width: 30%">Email</th>
            <th>Marked</th>
        </tr>
    </thead>
    <tbody id="student-search-res"></tbody>
</table>

<!--Search footer-->
<table class="table table-sm" id="aad-pagination">
    <tr>
        <th style="border:none; float:left;">
            <button id="assign-btn" disabled onclick="assign()" type="button" class="btn btn-outline-primary">Assign marked (0)</button>
        </th>
        <th style="border:none; float:right; font-weight:400;">
            <nav>
                <ul class="pagination" id="paging-ul"></ul>
            </nav>
        </th>
    </tr>
</table>

<hr style="margin-top:25px; margin-bottom:20px;">

<!--Assigned students-->
<h5 id="assigned-students-header">Assigned students</h5>
<table class="table table-sm table-bordered">
    <thead class="thead-dark">
        <tr>
            <th style="width: 30%">First name</th>
            <th style="width: 30%">Last name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody id="assigned-students"></tbody>
</table>

@section Scripts {
    <script src="~/js/enums.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>
    <script src="~/js/assignStudents.js" asp-append-version="true"></script>
}
