@model MasterRad.Models.ViewModels.AssignStudentsVM
@{
    ViewData["Title"] = "Students";
}

<h1>Assign students</h1>
<div hidden>
    <input type="text" value="@(Model.TestId)" id="test-id">
    <input type="text" value="@((int)Model.TestType)" id="test-type">
</div>

<br />

<div class="row">
    <div class="col">
        <input type="text" class="form-control" placeholder="First name" id="search-first-name">
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Last name" id="search-last-name">
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Email" id="search-email">
    </div>
    <div class="col">
        <button onclick="searchStudents()" type="button" class="btn btn-outline-primary">Search</button>
    </div>
</div>

<br />

<!--Search result-->
<div class="form-group">
    <label for="student-search-res">Hold 'CTRL' and click to deselect or select multiple</label>
    <select multiple class="form-control" id="student-search-res"></select>
</div>
<button id="assign-btn" disabled onclick="assign()" type="button" class="btn btn-outline-primary">Assign</button>
<br /><br />

<!--Assigned students-->
<table class="table table-striped table-sm table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Email</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="assigned-students"></tbody>
</table>


@section Scripts {
    <script src="~/js/assignStudents.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>
}
