@model MasterRad.Models.ViewModels.TestResultsVM
@{
    ViewData["Title"] = "Test results";
}

<div hidden>
    <input type="text" value="@(Model.TestId)" id="test-id">
    <input type="text" value="@((int)Model.TestType)" id="test-type">
</div>

<h1>Test results</h1>

<br />

<div class="row">
    <div class="col-md-12">
        <button id="start-evaluation-btn" onclick="startProgress()" class="btn btn-primary btn-lg">Start evaluation</button>
    </div>
</div>

<br />
<!-- Results table -->
<br />
<table class="table table-bordered">
    <thead class="thead-dark" id="table-header">
        <tr id="test-evaluations-table">
            <th scope="col">Student</th>
            <th scope="col">Public Data Set</th>
            <th scope="col">Secret Data Set</th>
        </tr>
    </thead>
    <tbody id="evaluation-results-tbody">
        @*<tr data-student-id="101">
            <td>Marko Markovic</td>
            <td class="public-data-progress">
                <svg height="24" viewBox="0 0 12 12" width="24" data-toggle="tooltip" data-placement="right" title="Not submited">
                    <circle cx="6" cy="6" r="6" fill="#b2b2b2"></circle>
                    <path d="M3.64 3.64a.75.75 0 0 1 1.06 0l1.294 1.294L7.288 3.64a.75.75 0 0 1 1.06 1.06L7.056 5.994l1.292 1.292a.75.75 0 0 1-1.06 1.06l-1.295-1.29-1.291 1.291a.75.75 0 1 1-1.06-1.06l1.292-1.293L3.64 4.7a.75.75 0 0 1 0-1.06z" fill="#fff"></path>
                </svg>
            </td>
            <td class="secret-data-progress">
                <svg height="24" viewBox="0 0 12 12" width="24" data-toggle="tooltip" data-placement="right" title="Not submited">
                    <circle cx="6" cy="6" r="6" fill="#b2b2b2"></circle>
                    <path d="M3.64 3.64a.75.75 0 0 1 1.06 0l1.294 1.294L7.288 3.64a.75.75 0 0 1 1.06 1.06L7.056 5.994l1.292 1.292a.75.75 0 0 1-1.06 1.06l-1.295-1.29-1.291 1.291a.75.75 0 1 1-1.06-1.06l1.292-1.293L3.64 4.7a.75.75 0 0 1 0-1.06z" fill="#fff"></path>
                </svg>
            </td>
        </tr>*@
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/enums.js"></script>
    <script src="~/js/results.js"></script>
}
