@model MasterRad.Models.ViewModels.TestResultsVM
@{
    ViewData["Title"] = "Test results";
}

<div hidden>
    <input type="text" value="@(Model.TestId)" id="test-id">
    <input type="text" value="@((int)Model.TestType)" id="test-type">
</div>

<h1>Test results</h1>

<br />

<div class="row">
    <div class="col-md-12">
        <button id="start-evaluation-btn" onclick="startProgress()" class="btn btn-primary btn-lg disabled" disabled>Start evaluation</button>
    </div>
</div>
<br />

<partial name="../Partials/SignalRConnectionStatuses.cshtml"/>
<!-- Results table -->
<table class="table table-bordered">
    <thead class="thead-dark" id="table-header">
        <tr id="test-evaluations-table">
            <th scope="col">Student</th>
            <th scope="col">Public Data Set</th>
            <th scope="col">Secret Data Set</th>
        </tr>
    </thead>
    <tbody id="evaluation-results-tbody"></tbody>
</table>

@section Scripts {
    <script src="~/lib/signalr/signalr.js"></script>
    
    <script src="~/js/util.js"></script>
    <script src="~/js/enums.js"></script>
    <script src="~/js/signalR_utils.js"></script>

    <script src="~/js/results.js"></script>
}
